.form__item {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  background-color: transparent;
}

.form__item::-webkit-input-placeholder {
  font-family: inherit;
}
.form__item::-moz-placeholder {
  font-family: inherit;
}
.form__item::-ms-input-placeholder {
  font-family: inherit;
}
.form__item::placeholder {
  font-family: inherit;
}
